.hanger {
    position: absolute;
    border: none;
    height: 0.5%;
    width: 5%;
    margin-top: 10.7%;
    left: 10.7%;
    background-color: red;
    transform: rotate(90deg);
  }
.life1 {
    position: absolute;
    border: none;
    height: 7%;
    width: 4%;
    border-radius: 100%;
    margin-top: 13%;
    left: 11%;
    background-color: black;
    visibility: hidden;
  }
.life2 {
    position: absolute;
    border: none;
    height: 1%;
    width: 4%;
    margin-top: 17%;
    left: 10%;
    background-color: black;
    transform: rotate(315deg);
    visibility: hidden;
  }
.life3 {
    position: absolute;
    border: none;
    height: 1%;
    width: 4%;
    margin-top: 17%;
    left: 12%;
    background-color: black;
    transform: rotate(45deg);
    visibility: hidden;
  }
.life4 {
    position: absolute;
    border: none;
    height: 1%;
    width: 4%;
    margin-top: 18%;
    margin-left: 11%;
    background-color: black;
    transform: rotate(90deg);
    visibility: hidden;
  }
.life5 {
    position: absolute;
    border: none;
    height: 1%;
    width: 4%;
    margin-top: 21%;
    left: 12%;
    background-color: black;
    transform: rotate(45deg);
    visibility: hidden;
  }
  .life6 {
    position: absolute;
    border: none;
    height: 1%;
    width: 4%;
    margin-top: 21%;
    background-color: black;
    left: 10%;
    transform: rotate(315deg);
    visibility: hidden;
  }